- name: register and auto-subscribe to available content.
  redhat_subscription:
    state: present
    username: "{{ os_migrate_conversion_host_content_rhsm_user|default(omit) }}"
    password: "{{ os_migrate_conversion_host_content_rhsm_password|default(omit) }}"
    auto_attach: true
  when:
    - os_migrate_conversion_host_content_rhsm_user is defined
    - os_migrate_conversion_host_content_rhsm_password is defined

- name: update all packages
  yum:
    name: '*'
    state: latest

- name: install content
  yum:
    name:
      - nbdkit
      - nbdkit-basic-plugins
      - qemu-img
      - libguestfs-tools
    state: present
