- name: scan available networks
  register: src_networks_info

  ansible.builtin.os_networks_info:
    filters: "{{ os_migrate_src_filters }}"
    auth: "{{ os_migrate_src_auth }}"
    auth_type: "{{ os_migrate_src_auth_type|default(omit) }}"
    region_name: "{{ os_migrate_src_region_name|default(omit) }}"
    validate_certs: "{{ os_migrate_src_validate_certs|default(omit) }}"
    ca_cert: "{{ os_migrate_src_ca_cert|default(omit) }}"
    client_cert: "{{ os_migrate_src_client_cert|default(omit) }}"
    client_key: "{{ os_migrate_src_client_key|default(omit) }}"
- name: create id-name pairs of networks to export
  ansible.builtin.set_fact:
    export_networks_ids_names: "{{ (src_networks_info.openstack_networks | community.general.json_query('[*].{name:\
      \ name, id: id}') | sort(attribute='id') ) }}"

- name: filter names of networks to export
  ansible.builtin.set_fact:
    export_networks_ids_names: "{{ ( export_networks_ids_names | os_migrate.os_migrate.stringfilter(os_migrate_networks_filter,\
      \ attribute='name') ) }}"

- name: export network
  loop: "{{ export_networks_ids_names }}"
  ansible.builtin.os_migrate.os_migrate.export_network:
    auth: "{{ os_migrate_src_auth }}"
    auth_type: "{{ os_migrate_src_auth_type|default(omit) }}"
    region_name: "{{ os_migrate_src_region_name|default(omit) }}"
    path: "{{ os_migrate_data_dir }}/networks.yml"
    name: "{{ item['id'] }}"
    validate_certs: "{{ os_migrate_src_validate_certs|default(omit) }}"
    ca_cert: "{{ os_migrate_src_ca_cert|default(omit) }}"
    client_cert: "{{ os_migrate_src_client_cert|default(omit) }}"
    client_key: "{{ os_migrate_src_client_key|default(omit) }}"
