- name: scan available networks
  openstack.cloud.networks_info:
    filters: "{{ os_migrate_src_filters }}"
    cloud: src
    validate_certs: "{{ os_migrate_src_validate_certs|default(omit) }}"
    ca_cert: "{{ os_migrate_src_ca_cert|default(omit) }}"
    client_cert: "{{ os_migrate_src_client_cert|default(omit) }}"
    client_key: "{{ os_migrate_src_client_key|default(omit) }}"
  environment: env
  register: src_networks_info

- name: create id-name pairs of networks to export
  ansible.builtin.set_fact:
    export_networks_ids_names: "{{ (
      src_networks_info.openstack_networks
        | json_query('[*].{name: name, id: id}')
        | sort(attribute='id') ) }}"

- name: filter names of networks to export
  ansible.builtin.set_fact:
    export_networks_ids_names: "{{ (
      export_networks_ids_names
        | os_migrate.os_migrate.stringfilter(os_migrate_networks_filter,
                                             attribute='name') ) }}"

- name: export network
  os_migrate.os_migrate.export_network:
    cloud: src
    path: "{{ os_migrate_data_dir }}/networks.yml"
    name: "{{ item['id'] }}"
    validate_certs: "{{ os_migrate_src_validate_certs|default(omit) }}"
    ca_cert: "{{ os_migrate_src_ca_cert|default(omit) }}"
    client_cert: "{{ os_migrate_src_client_cert|default(omit) }}"
    client_key: "{{ os_migrate_src_client_key|default(omit) }}"
  environment: env
  loop: "{{ export_networks_ids_names }}"
