- name: Clone devstack repository
  ansible.builtin.git:
    repo: "https://opendev.org/openstack/devstack.git"
    dest: /home/stack/devstack
    version: stable/2023.1
    update: no

- name: Render devstack config
  ansible.builtin.template:
    src: local.conf.j2
    dest: /home/stack/devstack/local.conf
    mode: "0644"
