- name: install packages for devstack
  ansible.builtin.package:
    name:
      - git
      - python2
      - python3-devel
      - tmux
    state: present

- name: remove packages which devstack does not like
  ansible.builtin.package:
    name:
      - python3-pyyaml
    state: absent

- name: create stack user
  ansible.builtin.user:
    name: stack

- name: create sudoers entry for stack
  ansible.builtin.copy:
    dest: /etc/sudoers.d/stack
    content: |
      stack ALL=(ALL) NOPASSWD:ALL

- name: get OS information
  ansible.builtin.setup:
  register: os_facts

- name: check distro is different than fedora
  ansible.builtin.debug:
    msg: "devstack SUPPORTED_DISTROS=bullseye|focal|jammy|rhel8|rhel9|openEuler-22.03"
  failed_when: os_facts.ansible_facts['ansible_distribution'] == 'Fedora' 
  register: unsupported_distro

