The role {{ role_name }}
role_description_goes_here

For further information about the role {{ role_name }} refer to the
[official docs](https://os-migrate.github.io/os-migrate/roles/role-{{ role_name }}.html).
