- name: read subnets resource file
  os_migrate.os_migrate.read_resources:
    path: "{{ os_migrate_data_dir }}/subnets.yml"
  register: read_subnets

- name: filter subnets to import
  ansible.builtin.set_fact:
    filtered_subnets: "{{ (
      read_subnets.resources
        | from_yaml
        | os_migrate.os_migrate.stringfilter(os_migrate_subnets_filter,
                                             attribute='params.name') ) }}"

- name: import subnets
  os_migrate.os_migrate.import_subnet:
    cloud: dst
    data: "{{ item }}"
    filters: "{{ os_migrate_dst_filters }}"
    validate_certs: "{{ os_migrate_dst_validate_certs|default(omit) }}"
    ca_cert: "{{ os_migrate_dst_ca_cert|default(omit) }}"
    client_cert: "{{ os_migrate_dst_client_cert|default(omit) }}"
    client_key: "{{ os_migrate_dst_client_key|default(omit) }}"
  loop: "{{ filtered_subnets }}"
