**/__pycache__

/releases/*

/docs/src/_build/*
/.venv
/local
/tests/auth_tenant.yml
/tests/auth_admin.yml
/tests/e2e/tmp
/tests/func/tmp
/toolbox/vagrant/.vagrant
/toolbox/vagrant/env
/toolbox/build/galaxy.yml
