clouds:
  src:
{% if os_migrate_src_auth is defined and os_migrate_src_auth|length %}
    auth: 
      {{os_migrate_src_auth|to_nice_yaml(indent=2)|indent(6)}}
{%- endif %}
{% if os_migrate_src_auth_type is defined %}
    auth_type: {{os_migrate_src_auth_type}}
{%- endif %}
{% if os_migrate_src_region_name is defined and os_migrate_src_region_name|length %}
    region_name: {{os_migrate_src_region_name}}
{% endif %}
  dst:
{% if os_migrate_dst_auth is defined and os_migrate_dst_auth|length %}
    auth:
      {{os_migrate_dst_auth|to_nice_yaml(indent=2)|indent(6)}}
{%- endif %}
{% if os_migrate_dst_auth_type is defined %}
    auth_type: {{os_migrate_dst_auth_type}}
{%- endif %}
{% if os_migrate_dst_region_name is defined and os_migrate_dst_region_name|length %}
    region_name: {{os_migrate_dst_region_name}}
{% endif %}