- name: scan available users
  register: src_users_info

  ansible.builtin.os_user_info:
    auth: "{{ os_migrate_src_auth }}"
    auth_type: "{{ os_migrate_src_auth_type|default(omit) }}"
    region_name: "{{ os_migrate_src_region_name|default(omit) }}"
    validate_certs: "{{ os_migrate_src_validate_certs|default(omit) }}"
    ca_cert: "{{ os_migrate_src_ca_cert|default(omit) }}"
    client_cert: "{{ os_migrate_src_client_cert|default(omit) }}"
    client_key: "{{ os_migrate_src_client_key|default(omit) }}"
- name: create id-name pairs of users to export
  ansible.builtin.set_fact:
    export_users_ids_names: "{{ (src_users_info.openstack_users | community.general.json_query('[*].{name:\
      \ name, id: id}') | sort(attribute='id') ) }}"

- name: filter names of users to export
  ansible.builtin.set_fact:
    export_users_ids_names: "{{ ( export_users_ids_names | os_migrate.os_migrate.stringfilter(os_migrate_users_filter,\
      \ attribute='name') ) }}"

- name: export users
  loop: "{{ export_users_ids_names }}"
  ansible.builtin.os_migrate.os_migrate.export_user:
    auth: "{{ os_migrate_src_auth }}"
    auth_type: "{{ os_migrate_src_auth_type|default(omit) }}"
    region_name: "{{ os_migrate_src_region_name|default(omit) }}"
    path: "{{ os_migrate_data_dir }}/users.yml"
    name: "{{ item['id'] }}"
    validate_certs: "{{ os_migrate_src_validate_certs|default(omit) }}"
    ca_cert: "{{ os_migrate_src_ca_cert|default(omit) }}"
    client_cert: "{{ os_migrate_src_client_cert|default(omit) }}"
    client_key: "{{ os_migrate_src_client_key|default(omit) }}"
