- name: validate loaded resources
  os_migrate.os_migrate.validate_resource_files:
    paths:
      - "{{ os_migrate_data_dir }}/subnets.yml"
  register: subnets_file_validation
  when: import_subnets_validate_file

- name: stop when errors found
  ansible.builtin.fail:
    msg: "{{ subnets_file_validation.errors|join(' ') }}"
  when: not ( subnets_file_validation.ok | bool )

- name: read subnets resource file
  os_migrate.os_migrate.read_resources:
    path: "{{ os_migrate_data_dir }}/subnets.yml"
  register: read_subnets

- name: filter subnets to import
  ansible.builtin.set_fact:
    filtered_subnets: "{{ (
      read_subnets.resources
        | os_migrate.os_migrate.stringfilter(os_migrate_subnets_filter,
                                             attribute='params.name') ) }}"

- name: import subnets
  os_migrate.os_migrate.import_subnet:
    auth: "{{ os_migrate_dst_auth }}"
    auth_type: "{{ os_migrate_dst_auth_type|default(omit) }}"
    region_name: "{{ os_migrate_dst_region_name|default(omit) }}"
    data: "{{ item }}"
    filters: "{{ os_migrate_dst_filters }}"
    validate_certs: "{{ os_migrate_dst_validate_certs|default(omit) }}"
    ca_cert: "{{ os_migrate_dst_ca_cert|default(omit) }}"
    client_cert: "{{ os_migrate_dst_client_cert|default(omit) }}"
    client_key: "{{ os_migrate_dst_client_key|default(omit) }}"
  loop: "{{ filtered_subnets }}"
