- name: validate loaded resources
  os_migrate.os_migrate.validate_resource_files:
    paths:
      - "{{ os_migrate_data_dir }}/routers.yml"
  register: routers_file_validation
  when: import_routers_validate_file

- name: stop when errors found
  ansible.builtin.fail:
    msg: "{{ routers_file_validation.errors|join(' ') }}"
  when: not ( routers_file_validation.ok | bool )

- name: read routers resource file
  os_migrate.os_migrate.read_resources:
    path: "{{ os_migrate_data_dir }}/routers.yml"
  register: read_routers

- name: filter routers to import
  ansible.builtin.set_fact:
    filtered_routers: "{{ (
      read_routers.resources
        | os_migrate.os_migrate.stringfilter(os_migrate_routers_filter,
                                             attribute='params.name') ) }}"

- name: import routers
  os_migrate.os_migrate.import_router:
    auth: "{{ os_migrate_dst_auth }}"
    auth_type: "{{ os_migrate_dst_auth_type|default(omit) }}"
    region_name: "{{ os_migrate_dst_region_name|default(omit) }}"
    data: "{{ item }}"
    filters: "{{ os_migrate_dst_filters }}"
    validate_certs: "{{ os_migrate_dst_validate_certs|default(omit) }}"
    ca_cert: "{{ os_migrate_dst_ca_cert|default(omit) }}"
    client_cert: "{{ os_migrate_dst_client_cert|default(omit) }}"
    client_key: "{{ os_migrate_dst_client_key|default(omit) }}"
  loop: "{{ filtered_routers }}"
