---
name: docs-build-pr
on:
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'
jobs:
  build:
    if: github.repository_owner == 'os-migrate'
    runs-on: ubuntu-latest
    steps:
      - name: Use checkout v2 with all git log available
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: |
          sudo locale-gen en_US.UTF-8
          sudo dpkg-reconfigure locales
      - name: Configure podman
        run: |
          mkdir -p ~/.config/containers
          echo 'cgroup_manager = "cgroupfs"' >> ~/.config/containers/libpod.conf
          echo '[storage]' >> ~/.config/containers/storage.conf
          echo 'driver = "overlay"' >> ~/.config/containers/storage.conf
          echo '[storage.options]' >> ~/.config/containers/storage.conf
          echo 'mount_program = "/usr/bin/fuse-overlayfs"' >> ~/.config/containers/storage.conf
      - name: Fetch toolbox image
        run: |
          REUSE_TOOLBOX=1 NO_VAGRANT=1 make toolbox-build
      - name: Render the documentation
        run: |
          ./toolbox/run make docs
      - uses: actions/upload-artifact@v1
        with:
          name: DocumentationHTML
          path: docs/src/_build/html/
