- name: read keypairs resource file
  os_migrate.os_migrate.read_resources:
    path: "{{ os_migrate_data_dir }}/keypairs.yml"
  register: read_keypairs

- name: filter keypairs to import
  ansible.builtin.set_fact:
    filtered_keypairs: "{{ (
      read_keypairs.resources
        | os_migrate.os_migrate.stringfilter(os_migrate_keypairs_filter,
                                             attribute='params.name') ) }}"

- name: import keypairs
  os_migrate.os_migrate.import_keypair:
    cloud: src
    data: "{{ item }}"
    validate_certs: "{{ os_migrate_dst_validate_certs|default(omit) }}"
    ca_cert: "{{ os_migrate_dst_ca_cert|default(omit) }}"
    client_cert: "{{ os_migrate_dst_client_cert|default(omit) }}"
    client_key: "{{ os_migrate_dst_client_key|default(omit) }}"
  loop: "{{ filtered_keypairs }}"
